In [17]:
import pandas as pd
from io import StringIO

In [151]:
pd.set_option('display.max_rows', None)

# Display all columns
pd.set_option('display.max_columns', None)

# Display full column width
pd.set_option('display.max_colwidth', None)

data = pd.read_csv('Et2OPeakData.txt', delim_whitespace=True)
'''
pd.set_option('display.max_rows', None)

# Display all columns
pd.set_option('display.max_columns', None)

# Display full column width
pd.set_option('display.max_colwidth', None)

with open("Et2OPeakData.txt", 'r') as file:
        lines = file.readlines()

data = []
for line in lines:
    values = line.strip().split(" ") # Split by comma, adjust as needed
    data.append(values)
'''

df = pd.DataFrame(data)

In [152]:
df

,peak,R.T.,first,max,last,PK,peak.1,corr.,corr..1,%,of
0,#,min,scan,scan,scan,TY,height,area,%,max.,total
1,---,-----,-----,----,----,---,-------,-------,------,-------,NaN
2,1,2.211,13,19,26,rVB,12346,14638,37.14%,11.755%,NaN
3,2,13.072,1675,1684,1700,rBV,14612,39408,100.00%,31.647%,NaN
4,3,18.923,2575,2581,2597,rBV2,7154,22034,55.91%,17.694%,NaN
5,4,51.499,7573,7575,7579,rVB,41519,32018,81.25%,25.712%,NaN
6,5,51.779,7616,7618,7622,rVB,23141,16427,41.68%,13.192%,NaN
7,peak,R.T.,first,max,last,PK,peak,corr.,corr.,%,of
8,#,min,scan,scan,scan,TY,height,area,%,max.,total
9,---,-----,-----,----,----,---,-------,-------,------,-------,NaN
10,1,2.211,15,19,26,rVB,12004,13383,33.20%,17.992%,NaN
11,2,13.072,1674,1684,1695,rBV2,15687,40312,100.00%,54.194%,NaN
12,3,18.916,2571,2580,2590,rBV3,7546,20690,51.32%,27.815%,NaN
13,peak,R.T.,first,max,last,PK,peak,corr.,corr.,%,of
14,#,min,scan,scan,scan,TY,height,area,%,max.,total
15,---,-----,-----,----,----,---,-------,-------,------,-------,NaN
16,1,2.211,16,19,25,rVB2,11225,12314,30.28%,16.629%,NaN
17,2,13.072,1674,1684,1696,rBV2,15273,40667,100.00%,54.916%,NaN
18,3,18.916,2574,2580,2589,rBV3,7388,21072,51.82%,28.455%,NaN

In [153]:
df_filtered = df[df['peak'].isin(['#', '---','peak'])]
df_filtered

,peak,R.T.,first,max,last,PK,peak.1,corr.,corr..1,%,of
0,#,min,scan,scan,scan,TY,height,area,%,max.,total
1,---,-----,-----,----,----,---,-------,-------,------,-------,NaN
7,peak,R.T.,first,max,last,PK,peak,corr.,corr.,%,of
8,#,min,scan,scan,scan,TY,height,area,%,max.,total
9,---,-----,-----,----,----,---,-------,-------,------,-------,NaN
13,peak,R.T.,first,max,last,PK,peak,corr.,corr.,%,of
14,#,min,scan,scan,scan,TY,height,area,%,max.,total
15,---,-----,-----,----,----,---,-------,-------,------,-------,NaN

In [154]:
filter_list = df_filtered.index.tolist()
df = df.drop(filter_list)
df = df.drop(columns=['of'])
df = df.reset_index()
df

    index peak    R.T. first   max  last    PK peak.1  corr.  corr..1        %
0       2    1   2.211    13    19    26   rVB  12346  14638   37.14%  11.755%
1       3    2  13.072  1675  1684  1700   rBV  14612  39408  100.00%  31.647%
2       4    3  18.923  2575  2581  2597  rBV2   7154  22034   55.91%  17.694%
3       5    4  51.499  7573  7575  7579   rVB  41519  32018   81.25%  25.712%
4       6    5  51.779  7616  7618  7622   rVB  23141  16427   41.68%  13.192%
5      10    1   2.211    15    19    26   rVB  12004  13383   33.20%  17.992%
6      11    2  13.072  1674  1684  1695  rBV2  15687  40312  100.00%  54.194%
7      12    3  18.916  2571  2580  2590  rBV3   7546  20690   51.32%  27.815%
8      16    1   2.211    16    19    25  rVB2  11225  12314   30.28%  16.629%
9      17    2  13.072  1674  1684  1696  rBV2  15273  40667  100.00%  54.916%
10     18    3  18.916  2574  2580  2589  rBV3   7388  21072   51.82%  28.455%

In [155]:
run_index = [0]

for i in range(len(df)-1):
    if df['peak'][i+1] < df['peak'][i]:
        run_index.append(i+1)
        
print(f"Indices using loop: {run_index}")

Indices using loop: [0, 5, 8]

In [168]:
# triplicate runs
#tri_df = df.iloc[:0,:].copy()
tri_df = (df[['peak','R.T.','max', 'corr.', 'corr..1', '%']].copy()).head(0)
count = 0

for i in range(len(run_index)):
    tri_df.loc[count] = [0,0,0,0,0,0]
    count += 1
count = 0
for i in range(len(df)-1):
    if df['peak'][i+1] < df['peak'][i]:
        count +=1
    if df['peak'][i+1]

tri_df

   peak  R.T.  max  corr.  corr..1  %
0     0     0    0      0        0  0
1     0     0    0      0        0  0
2     0     0    0      0        0  0